<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- FUTURE-UPDATE: add sort order, filters in table header for payment data-->
          <!-- FUTURE-UPDATE: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Name
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Payment Link
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Status
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Subscribed At
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Last Charged At
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- FUTURE-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let subscriberEl of subscribers">
          <td>
            <h5 class="mb-0">{{ subscriberEl.customerName }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ subscriberEl.customerEmail }}
            </p>
          </td>
          <td>
            <h5 class="mb-0">{{ subscriberEl.linkName }}</h5>
            <p class="card-text small text-muted mb-0">
              <!-- TODO: add dynamic link name -->
              $15 - Monthly
            </p>
          </td>
          <td>
            <!-- TODO: change badge based on status -->
            <h4 class="mb-0">
              <span class="badge badge-soft-success">
                <b>Active</b>
              </span>
            </h4>
          </td>
          <td>{{ subscriberEl.createdDate }}</td>
          <td>{{ subscriberEl.recentTransaction }}</td>
          <td class="text-right">
            <!-- TODO: only cancel if status if active -->
            <button type="button" class="btn btn-link btn-sm destructive">
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
