<div *ngIf="isLoading" class="row justify-content-center mb-3">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- FUTURE-UPDATE: add sort order, filters in table header for payment data-->
          <!-- FUTURE-UPDATE: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Name
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Payment Link
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Status
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Subscribed At
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- FUTURE-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let subscriberEl of subscribers">
          <td>
            <h5 class="mb-0">{{ subscriberEl.customer.name }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ subscriberEl.customer.email }}
            </p>
          </td>
          <td>
            <h5 class="mb-0">{{ subscriberEl.paymentLink.name }}</h5>
            <p class="card-text small text-muted mb-0">
              <!-- TODO: add dynamic link name -->
              {{ subscriberEl.linkAmount }} -
              {{ subscriberEl.billingInterval }}
            </p>
          </td>
          <td>
            <!-- TODO: change badge based on status -->
            <h4 class="mb-0 capitalize">
              <span
                class="badge badge-pill"
                [ngClass]="{
                  'badge-soft-primary': subscriberEl.status === 'active',
                  'badge-soft-info': subscriberEl.status === 'trialing',
                  'badge-soft-warning': subscriberEl.status === 'past_due',
                  'badge-soft-danger': subscriberEl.status === 'unpaid',
                  'badge-soft-secondary': subscriberEl.status === 'canceled'
                }"
              >
                <b>{{ subscriberEl.status }}</b>
              </span>
            </h4>
          </td>
          <td>{{ subscriberEl.created }}</td>
          <td class="text-right">
            <button
              *ngIf="subscriberEl.isCancelled === false"
              type="button"
              (click)="
                onCancelSubAtRow(subscriberEl.subscription.subscriptionID)
              "
              class="btn btn-outline-danger btn-sm"
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
