<!-- Button trigger modal -->

<!-- Signup Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- Card Column -->
            <div class="col-sm-7 pl-0">
              <h4 class="text-center">Add a debit/credit card</h4>

              <div>
                <div class="form-control mt-3">
                  <div #signupCardElement class="mt-1">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                </div>

                <div class="help-block-invalid" *ngIf="cardErrors != null">
                  {{ cardErrors }}
                </div>

                <div
                  class="help-block-invalid form-group text-center"
                  *ngIf="paymentResponseError"
                >
                  {{ paymentResponseError }}
                </div>

                <div
                  *ngIf="isPaymentResponseLoading"
                  class="row justify-content-center my-3"
                >
                  <div class="spinner-border text-primary" role="status"></div>
                </div>

                <!-- TODO: Button -->

                <button
                  class="btn btn-block btn-primary my-3"
                  type="button"
                  (click)="onCreateTrialSubscription()"
                  [disabled]="
                    isCardPaymentComplete == false ||
                    isPaymentResponseLoading == true
                  "
                >
                  Get started
                </button>
              </div>
            </div>

            <!-- Card Reason Column -->
            <div class="col-sm-5 special-border pr-0">
              <h4 class="text-center">Why do you need my card?</h4>
              <p class="small text-secondary">
                Your credit/debit card helps us to verify if you and your
                business are legitimate.
              </p>
              <p class="small text-secondary">
                You will not be charged if you cancel before your trial expires
                in <b>7</b> days.
              </p>
              <p class="small mb-0 text-secondary">
                Have any issues?
                <a
                  class="text-decoration-underline"
                  href="mailto:support@chimpcharge.com"
                  >Contact us</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Expired Modal -->
<div
  class="modal fade"
  id="expiredModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- Card Column -->
            <div class="col-sm-7 pl-0">
              <h4 class="text-center">Add a debit/credit card</h4>

              <div>
                <div class="form-control mt-3">
                  <div #expiredCardElement class="mt-1">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                </div>

                <div class="help-block-invalid" *ngIf="cardErrors != null">
                  {{ cardErrors }}
                </div>

                <div
                  class="help-block-invalid form-group text-center"
                  *ngIf="paymentResponseError"
                >
                  {{ paymentResponseError }}
                </div>

                <div
                  *ngIf="isPaymentResponseLoading"
                  class="row justify-content-center my-3"
                >
                  <div class="spinner-border text-primary" role="status"></div>
                </div>

                <!-- TODO: Button -->

                <button
                  class="btn btn-block btn-primary my-3"
                  type="button"
                  (click)="onUpdateCard()"
                  [disabled]="
                    isCardPaymentComplete == false ||
                    isPaymentResponseLoading == true
                  "
                >
                  Update card
                </button>
              </div>
            </div>

            <!-- Card Reason Column -->
            <div class="col-sm-5 special-border pr-0">
              <h3 class="text-center">Update your credit card</h3>
              <p class="small text-secondary">
                Unfortunately, there seems to be a problem with your card and we
                haven't been able to bill you for your subscription.
              </p>
              <p class="small text-secondary">
                Update your card to continue using our services.
              </p>
              <p class="small mb-0 text-secondary">
                Have any issues?
                <a
                  class="text-decoration-underline"
                  href="mailto:support@chimpcharge.com"
                  >Contact us</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cancelled Modal -->
<div
  class="modal fade"
  id="cancelledModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- Card Column -->
            <div class="col-sm-7 pl-0">
              <h4 class="text-center">Add a debit/credit card</h4>

              <div>
                <div class="form-control mt-3">
                  <div #cancelledCardElement class="mt-1">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                </div>

                <div class="help-block-invalid" *ngIf="cardErrors != null">
                  {{ cardErrors }}
                </div>

                <div
                  class="help-block-invalid form-group text-center"
                  *ngIf="paymentResponseError"
                >
                  {{ paymentResponseError }}
                </div>

                <div
                  *ngIf="isPaymentResponseLoading"
                  class="row justify-content-center my-3"
                >
                  <div class="spinner-border text-primary" role="status"></div>
                </div>

                <!-- TODO: Button -->
                <button
                  class="btn btn-block btn-primary my-3"
                  type="button"
                  (click)="onReactivateSubscription()"
                  [disabled]="
                    isCardPaymentComplete == false ||
                    isPaymentResponseLoading == true
                  "
                >
                  Reactivate
                </button>
              </div>
            </div>

            <!-- Card Reason Column -->
            <div class="col-sm-5 special-border pr-0">
              <h4 class="text-center">Reactivate your subscription</h4>
              <p class="small text-secondary">
                Looks like your subscription was cancelled.
              </p>
              <p class="small text-secondary">
                Enter your card details to reactivate your subscription and gain
                access to your account.
              </p>
              <p class="small mb-0 text-secondary">
                Have any issues?
                <a
                  class="text-decoration-underline"
                  href="mailto:support@chimpcharge.com"
                  >Contact us</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
