<div *ngIf="isLoading" class="row justify-content-center mb-3">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- LATER: add sort order, filters in table header for payment data-->
          <!-- LATER: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Customer
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              <u class="more-info" placement="top" ngbTooltip="Transaction ID"
                >TXN ID</u
              >
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Amount
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Status
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Date
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Type
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- LATER: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let transactionEl of transactions">
          <td>
            <h5 class="mb-0">{{ transactionEl.customer.name }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ transactionEl.customer.email }}
            </p>
          </td>
          <td>{{ transactionEl.shortTxnID }}</td>
          <td>
            <h5 class="mb-0">{{ transactionEl.amount }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ transactionEl.productName }}
            </p>
          </td>
          <td>
            <h4 class="mb-0">
              <span
                class="badge badge-pill"
                [ngClass]="{
                  'badge-soft-primary': transactionEl.status === 'Succeeded',
                  'badge-soft-warning': transactionEl.status === 'Refunded'
                }"
              >
                <!-- LATER: disputed is red 'danger' -->
                <b>{{ transactionEl.status }}</b>
              </span>
            </h4>
          </td>
          <td>
            <span>{{ transactionEl.created }}</span>
          </td>
          <td>
            <h4 class="mb-0">
              <span class="badge badge-pill badge-light first-word-capitalize">
                <b>{{ transactionEl.transactionType }}</b>
              </span>
            </h4>
          </td>

          <!-- LATER: add refund confirmation modal, if available for refund, "sure you want to refund?", if not available for refund => "sorry refund not available" -->

          <td class="text-right">
            <button
              *ngIf="transactionEl.isRefunded === false"
              type="button"
              (click)="
                onRefundAtRow(transactionEl.paymentIntent.paymentIntentID)
              "
              class="btn btn-outline-danger btn-sm"
            >
              Refund
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
