<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 my-6">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Login
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Login to ChimpCharge
      </p>

      <!-- Form -->
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <!-- Email address -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="name@address.com"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
          />
          <span
            class="help-block-invalid"
            *ngIf="!email.valid && email.touched"
          >
            Please enter a valid email.</span
          >
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="password">Password</label>
            </div>
            <!-- Help text -->
            <div class="col-auto">
              <a
                [routerLink]="['/forgot-password']"
                class="form-text small text-muted"
              >
                Forgot password?
              </a>
            </div>
          </div>

          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            ngModel
            placeholder="Enter your password"
            required
            #password="ngModel"
          />
        </div>

        <div class="help-block-invalid form-group text-center" *ngIf="error">
          {{ error }}
        </div>
        <!-- Submit -->
        <button
          class="btn btn-lg btn-block btn-primary mb-3"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Login
        </button>

        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            Don't have an account yet?
            <a [routerLink]="" (click)="goToSignupPage()"> Sign up</a>
          </small>
        </div>
      </form>
    </div>
  </div>
  <!-- / .row -->
</div>

<!-- LATER Add more company info at the bottom about chimpcharge-->
