<!-- //FUTURE-UPDATE: add hidden cancel buttons that show when user changes the current value, cancel to reset to current-default => then.hide() -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <!-- Email Form -->
      <h2 class="mb-4">Change your email</h2>

      <form #emailForm="ngForm" (ngSubmit)="onChangeEmail(emailForm)">
        <!-- Email address -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            [ngModel]="currentEmail"
            name="email"
            required
            email
            #email="ngModel"
          />
          <span
            class="help-block-invalid"
            *ngIf="!email.valid && email.touched"
          >
            Please enter a valid email.</span
          >
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="confirmCurrentPassword">Confirm Current Password</label>
          <input
            type="password"
            id="confirmCurrentPassword"
            class="form-control"
            name="confirmCurrentPassword"
            ngModel
            placeholder="Enter your password"
            required
            #confirmCurrentPassword="ngModel"
          />
        </div>

        <div class="help-block-invalid form-group" *ngIf="changeEmailError">
          {{ changeEmailError }}
        </div>
        <!-- Submit -->
        <div class="row">
          <!-- Loading Spinner -->

          <div class="col-6 col-md-4">
            <div
              *ngIf="isChangeEmailLoading"
              class="row justify-content-center mb-3"
            >
              <div class="spinner-border text-primary" role="status"></div>
            </div>

            <button
              class="btn btn-block btn-primary mb-3"
              [disabled]="!emailForm.valid"
              type="submit"
            >
              Change Email
            </button>
          </div>
        </div>
      </form>

      <hr class="my-5" />

      <!-- Password Form -->
      <h2 class="mb-4">Change your password</h2>

      <form
        *ngIf="passwordForm"
        [formGroup]="passwordForm"
        (ngSubmit)="onChangePassword()"
      >
        <!-- Current Password -->
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            id="currentPassword"
            class="form-control"
            placeholder="Enter current password"
            formControlName="currentPassword"
            name="currentPassword"
            password
          />
        </div>

        <!-- New Password -->
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            placeholder="Enter new password"
            formControlName="newPassword"
            password
          />

          <!-- error messages -->
          <span
            class="help-block-invalid"
            *ngIf="
              passwordForm.get('newPassword').hasError('minlength') &&
              passwordForm.get('newPassword').touched
            "
          >
            Minimum of 6 characters.</span
          >
        </div>

        <!-- Confirm New Password -->
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm new password"
            formControlName="confirmPassword"
            password
          />

          <!-- error messages -->

          <!-- minlength -->
          <span
            class="help-block-invalid"
            *ngIf="
              passwordForm.get('confirmPassword').hasError('minlength') &&
              passwordForm.get('confirmPassword').touched
            "
          >
            Minimum of 6 characters.</span
          >
          <!-- MatchPassword -->
          <span
            class="help-block-invalid"
            *ngIf="
              passwordForm.get('confirmPassword').hasError('MatchPassword') &&
              passwordForm.get('confirmPassword').touched
            "
          >
            The new password and confirmation password do not match.</span
          >
        </div>

        <div class="help-block-invalid form-group" *ngIf="changePasswordError">
          {{ changePasswordError }}
        </div>
        <!-- Submit -->
        <div class="row">
          <div class="col-6 col-md-4">
            <!-- Loading Spinner -->

            <div
              *ngIf="isChangePasswordLoading"
              class="row justify-content-center mb-3"
            >
              <div class="spinner-border text-primary" role="status"></div>
            </div>

            <button
              class="btn btn-block btn-primary mb-3"
              [disabled]="!passwordForm.valid"
              type="submit"
            >
              Change Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
