<!-- NEXT-UPDATE: add more complex options, like edit email sends, billing cycles, how to
accept payment, upload images, check-boxes, add any info. check other apps for
more information. Redirect url. -->

<!-- TODO: maybe make this page into a popup modal? easier to make things -->
<!-- TODO: add cancel button or back btn to go back to plans page -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h1 class="header-title">
                  Create new plan
                </h1>
              </div>
            </div>
            <div class="row mt-2 mb-4">
              <div class="col-12">
                <!-- TODO :better messaging -->
                <p class="text-muted my-auto">
                  Create a one-time or recurring payment.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs header-tabs mb-0">
                  <!-- TODO: hide either list button if on edit mode, for unselected option -->
                  <li>
                    <button
                      type="button"
                      class="btn btn-secondary mr-3"
                      (click)="onRecurringMode()"
                    >
                      Recurring
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="text-center btn btn-outline-secondary"
                      (click)="onOneTimeMode()"
                    >
                      One-time
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Form -->
        <!-- TODO: fix forms for plans -->
        <form #planForm="ngForm" (ngSubmit)="onSubmit(planForm)">
          <!-- Name -->
          <!-- <div class="form-row"> -->
          <div class="form-group">
            <label for="planName">Plan Name</label>
            <input
              type="text"
              id="planName"
              class="form-control"
              placeholder="i.e. Marketing Services"
              ngModel
              name="planName"
              required
              #planName="ngModel"
            />
            <span
              class="help-block-invalid"
              *ngIf="!planName.valid && planName.touched"
            >
              Please enter a valid planName.</span
            >
          </div>
          <!-- Amount -->
          <!-- TODO: add min/max length -->
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              placeholder="$"
              ngModel
              name="amount"
              required
              #amount="ngModel"
              number
            />
            <span
              class="help-block-invalid"
              *ngIf="!amount.valid && amount.touched"
            >
              Please enter a valid amount.</span
            >
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              name="description"
            ></textarea>
          </div>

          <!-- Recurring options -->
          <div *ngIf="planType === 'recurring'">
            <!-- TODO: add custom billing interval ; add setup fee option-->
            <div class="form-group">
              <label for="billingInterval">Billing interval</label>
              <select
                name="billingInterval"
                id="billingInterval"
                class="custom-select"
                [(ngModel)]="billingInterval"
                required
              >
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Every 3 Months</option>
                <option value="semiannually">Every 6 Months</option>
                <option value="yearly">Yearly</option>
              </select>
            </div>
          </div>

          <!-- TODO: change text based on state, 'save changes' or 'create one-time
          payment' or 'create recurring payment' -->
          <!-- Submit -->
          <div class="row justify-content-center">
            <div class="col-4">
              <button
                class="btn btn-lg btn-block btn-primary mb-3"
                [disabled]="!planForm.valid"
                type="submit"
              >
                Create Plan
              </button>
            </div>
          </div>
        </form>

        <!-- <div [ngSwitch]="planType">
          <div *ngSwitchCase="planTypeEnum.onetime">One-time</div>
          <div *ngSwitchCase="planTypeEnum.subscription">Subcription</div>
          <div *ngSwitchDefault>
            Error rendering content, try reloading page
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
