<!-- NEXT-UPDATE: add more complex options, like edit email sends, billing cycles, how to
accept payment, upload images, check-boxes, add any info. check other apps for
more information. Redirect url. -->

<!-- TODO: maybe make this page into a popup modal? easier to make things -->
<!-- TODO: add cancel button or back btn to go back to links page -->

<!-- TODO: maybe add manual change detection -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h1 class="header-title">
                  Create new payment link
                </h1>
              </div>
            </div>
            <div class="row mt-2 mb-4">
              <div class="col-12">
                <!-- TODO :better messaging -->
                <p class="text-muted my-auto">
                  Create a one-time or recurring payment.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs header-tabs mb-0">
                  <!-- TODO: disable opposite option if editmode is true  -->
                  <li>
                    <button
                      type="button"
                      class="btn mr-3"
                      [ngClass]="{
                        'btn-secondary': linkType === 'onetime',
                        'btn-outline-secondary': linkType === 'recurring'
                      }"
                      (click)="onOneTimeMode()"
                    >
                      One-time
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="btn"
                      [ngClass]="{
                        'btn-secondary': linkType === 'recurring',
                        'btn-outline-secondary': linkType === 'onetime'
                      }"
                      (click)="onRecurringMode()"
                    >
                      Recurring
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Form -->
        <form
          *ngIf="paymentLinkEditForm"
          [formGroup]="paymentLinkEditForm"
          (ngSubmit)="onSubmit()"
        >
          <!-- Name -->

          <div class="form-group">
            <label for="linkName">Name of your product or service</label>
            <input
              type="text"
              id="linkName"
              class="form-control"
              placeholder="i.e. Marketing Services"
              formControlName="linkName"
            />

            <span
              class="help-block-invalid"
              *ngIf="
                !paymentLinkEditForm.get('linkName').valid &&
                paymentLinkEditForm.get('linkName').touched
              "
            >
              Please enter a valid link name.</span
            >
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              placeholder="A brief description of your product or service (optional)"
              formControlName="description"
            ></textarea>
          </div>

          <!-- Amount -->
          <!-- TODO: add min/max length -->

          <!-- //NEXT-UPDATE: better input mask -->
          <div class="form-group">
            <label for="amount">Amount</label>

            <div class="input-group input-group-merge">
              <input
                type="number"
                id="amount"
                class="form-control form-control-prepended"
                [ngClass]="{
                  'is-invalid':
                    !paymentLinkEditForm.get('amount').valid &&
                    paymentLinkEditForm.get('amount').touched
                }"
                placeholder="10.00"
                formControlName="amount"
                number
              />
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-dollar-sign"></span>
                </div>
              </div>
            </div>

            <!-- error messages -->

            <!-- Out of price range -->
            <span
              class="help-block-invalid"
              *ngIf="
                paymentLinkEditForm.get('amount').hasError('PriceOutOfRange') &&
                paymentLinkEditForm.get('amount').touched
              "
            >
              Enter a valid amount between $0.50 - $999,999.99</span
            >
          </div>

          <!-- Recurring options -->
          <div *ngIf="linkType === 'recurring'">
            <!-- TODO: add custom billing interval ; add setup fee option-->
            <div class="form-group">
              <label for="billingInterval">Billing interval</label>
              <select
                name="billingInterval"
                id="billingInterval"
                class="custom-select"
                formControlName="billingInterval"
              >
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <!-- NEXT-UPDATE: add support for quarterly,annually. they require more setup -->
                <!-- <option value="quarterly">Every 3 Months</option>
                <option value="semiannually">Every 6 Months</option> -->
                <option value="yearly">Yearly</option>
              </select>
            </div>
          </div>

          <!-- NEXT-UPDATE: change text based on state, 'save changes' or 'create one-time
          payment' or 'create recurring payment' -->
          <!-- Loading Spinner -->
          <div *ngIf="isLoading" class="row justify-content-center mb-3">
            <div class="spinner-border text-primary" role="status"></div>
          </div>

          <div class="help-block-invalid form-group text-center" *ngIf="error">
            {{ error }}
          </div>
          <!-- Submit -->
          <div class="row justify-content-center">
            <div class="col-8 col-sm-6 col-md-4">
              <!-- NEXT-UPDATE: don't let user spam create button -->
              <button
                class="btn btn-lg btn-block btn-primary mb-3"
                [disabled]="!paymentLinkEditForm.valid"
                type="submit"
              >
                Save Payment Link
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
