<!-- Cards -->
<!-- //FUTURE-UPDATE: add switch buttons to filter between differnt type of data on this card, i.e. 'toggle net revenue(after stripe fees) or gross revenue' -->
<div class="container-fluid">
  <!-- Stats -->
  <div class="row">
    <!-- <div class="col-12 col-lg-6 col-xl">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-uppercase text-muted mb-2">
                          Payments - Last 30 days
                        </h6>
  
                        <span class="h2 mb-0">
                          {{ paymentsLastThirtyDays }}
                        </span>
  
                        
                      ///  FUTURE-UPDATE: add badge to track growth progress - in next update ///
                        <span class="badge badge-soft-success mt-n1">
                    +3.5%
                  </span>
                      </div>
  
                      <div class="col-auto">
                        <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Total Customers
              </h6>

              <!-- Heading -->
              <span *ngIf="stats" class="h2 mb-0">
                {{ stats.customerCount || 0 }}
              </span>
            </div>

            <div class="col-auto">
              <span class="h2 fe fe-user text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Active Subscribers
              </h6>

              <!-- Heading -->
              <span *ngIf="stats" class="h2 mb-0">
                {{
                  (stats.subscriptions && stats.subscriptions.activeCount) || 0
                }}
              </span>
            </div>

            <div class="col-auto">
              <span class="h2 fe fe-user-check text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h6 class="text-uppercase text-muted mb-2">
                Total Payments
              </h6>

              <!-- Heading -->
              <span *ngIf="stats" class="h2 mb-0">
                {{ stats.successfulAmount }}
              </span>
            </div>

            <div class="col-auto">
              <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
