<div class="main-content">
  <!-- header -->
  <div class="header">
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="header-title">
            Payments
          </h1>
        </div>
        <div class="col-auto">
          <a href="#" class="btn btn-outline-primary">
            <!-- TODO: take the payouts settings page -->
            View Payouts
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="container-fluid">
    <!-- Stats -->
    <div class="row">
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Payments - Last 30 days
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ paymentsLastThirtyDays }} </span>

                <!-- Badge -->
                <!-- NEXT-UPDATE: add badge to track growth progress - in next update -->
                <!-- <span class="badge badge-soft-success mt-n1">
                  +3.5%
                </span> -->
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Total Customers
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ customerCount }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-user text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Active Subscribers
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ activeSubscriberCount }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-user-check text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Title -->
                <h6 class="text-uppercase text-muted mb-2">
                  Total Payments
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0"> {{ paymentsTotal }} </span>
              </div>

              <div class="col-auto">
                <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- NEXT-UPDATE: Add Chart Graph: -->
  <app-payment-list></app-payment-list>
</div>
