<div class="main-content">
  <!-- header -->
  <div class="header">
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="header-title">
            Payment Links
          </h1>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onCreatePaymentLink()"
          >
            Create Payment Link
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Payment Links  -->
  <div *ngIf="isLoading" class="row justify-content-center mb-3">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <!-- FUTURE-UPDATE: add sort order, filters in table header for payment data-->
            <!-- FUTURE-UPDATE: add pagination to not show all results in 1 page, order by pages -->
            <th>
              <h5 class="text-muted mb-0">
                Payment Link Name
              </h5>
            </th>
            <th>
              <h5 class="text-muted mb-0">
                Type
              </h5>
            </th>
            <th>
              <h5 class="text-muted mb-0">
                Price
              </h5>
            </th>
            <th colspan="3">
              <h5 class="text-muted mb-0">
                Created
              </h5>
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <!-- FUTURE-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
          <tr *ngFor="let linkEl of paymentLinks">
            <td class="text-wrapper">
              <h5 class="mb-0">{{ linkEl.product.name }}</h5>
              <p class="card-text small text-muted mb-0">
                {{ linkEl.product.description }}
              </p>
            </td>
            <td>
              <h4 class="mb-0">
                <span
                  class="badge badge-pill badge-light first-word-capitalize"
                >
                  <b>{{ linkEl.linkType }}</b>
                </span>
              </h4>
            </td>
            <td>
              <h5 class="mb-0">{{ linkEl.priceAmount }}</h5>

              <p
                *ngIf="linkEl.billingInterval"
                class="card-text small text-muted mb-0"
              >
                Billed {{ linkEl.billingInterval }}
              </p>
            </td>
            <td>{{ linkEl.created }}</td>
            <td class="text-right">
              <button
                (click)="onCopyLinkAtRow(linkEl.id)"
                class="btn btn-outline-primary btn-sm"
              >
                Copy Link
              </button>
            </td>
            <td class="text-right">
              <div class="dropdown">
                <a
                  class="dropdown-ellipses dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style>
                  <button
                    (click)="onViewLinkAtRow(linkEl.id)"
                    class="dropdown-item"
                  >
                    View Link
                  </button>
                  <button
                    (click)="onEditLinkAtRow(linkEl.id)"
                    class="dropdown-item"
                  >
                    Edit Link
                  </button>
                  <button
                    (click)="onDeleteLinkAtRow(linkEl.id)"
                    class="dropdown-item"
                  >
                    Delete Link
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
