<!-- Balance Card -->
<div class="card mt-1">
  <div class="card-header">
    <h2 class="card-header-title">
      Chimp Balance
    </h2>
    <!-- //TODO: get from default currency, maybe add a dropdown menu -->
    <span class="text-muted">USD</span>
  </div>

  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <p class="card-title">
          On the way to your bank:
        </p>
      </div>
      <div class="col-auto">
        <p class="card-text text-right">
          {{ (balance && balance.availableAmount) || "$0.00" }}
        </p>
      </div>
    </div>
    <div class="row align-items-center mt-1">
      <div class="col">
        <p class="card-title">
          Estimated future payouts:
        </p>
      </div>
      <div class="col-auto">
        <p class="card-text text-right">
          {{ (balance && balance.pendingAmount) || "$0.00" }}
        </p>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row align-items-center">
      <div class="col">
        <p class="card-title total">
          Total
        </p>
      </div>
      <div class="col-auto">
        <p class="card-text text-right total">
          {{ (balance && balance.totalAmount) || "$0.00" }}
        </p>
      </div>
    </div>
  </div>
</div>
