<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- NEXT-UPDATE: add sort order, filters in table header for payment data-->
          <!-- NEXT-UPDATE: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Customer
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              <u class="more-info" placement="top" ngbTooltip="Transaction ID"
                >TXN ID</u
              >
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Amount
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Status
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Date
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Type
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- NEXT-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let paymentEl of payments">
          <td>
            <h5 class="mb-0">{{ paymentEl.customerName }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ paymentEl.customerEmail }}
            </p>
          </td>
          <td>{{ paymentEl.paymentID }}</td>
          <td>
            <h5 class="mb-0">{{ paymentEl.amount }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ paymentEl.linkName }}
            </p>
          </td>
          <td>
            <!-- Badge -->
            <!-- TODO: Change badge types according to status -->
            <h4 class="mb-0">
              <span class="badge badge-soft-success">
                <b>{{ paymentEl.status }}</b>
              </span>
            </h4>
          </td>
          <td>{{ paymentEl.date }}</td>
          <!-- TODO: add grey badges to type like in subscribers list -->
          <td>{{ paymentEl.type }}</td>
          <!-- TODO: make this a refundable button: opens modal -->
          <!-- TODO: Only make refundable if available -->
          <td class="text-right">
            <button type="button" class="btn btn-link btn-sm destructive">
              Refund
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
