<!-- Navigation ==================================================-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Toggler - Toggles button for dropdown menu on collapse-->
    <button
      class="navbar-toggler mr-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand =====================================-->
    <a class="navbar-brand mr-auto" [routerLink]="['/payments']">
      Chimp Charge
    </a>

    <!-- User ==========================================-->
    <div class="navbar-user order-lg-3">
      <!-- Help Center -->
      <!-- <div class="mr-4">
        <span class="fe fe-bell text-white">
          <i class="fe fe-bell"></i>
        </span>
        <a
          href="#"
          class="btn btn-outline-light"
          role="button"
          data-toggle="modal"
        >
          Help Center
        </a>
      </div> -->

      <!-- Help Info -->

      <div class="dropdown mr-4">
        <!-- Toggle -->
        <a
          href="#"
          class="btn no-padding fe fe-help-circle feather-24 text-white"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
        </a>

        <!-- Menu Options-->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="mailto:support@chimpcharge.com" class="dropdown-item"
            >Contact Support</a
          >
        </div>
      </div>

      <!-- Settings -->
      <div class="dropdown">
        <!-- Toggle -->
        <a
          href="#"
          class="btn btn-secondary"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          Settings
        </a>

        <!-- Menu Options-->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" [routerLink]="['/settings']"
            >Settings</a
          >
          <hr class="dropdown-divider" />
          <button (click)="onSignOut()" class="dropdown-item">Sign out</button>
        </div>
      </div>
    </div>

    <!-- Navbar =====================================-->
    <div id="navbar" class="collapse navbar-collapse mr-lg-auto order-lg-2">
      <ul class="navbar-nav mr-lg-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="modal" [routerLink]="['/payments']">
            Payments
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="modal" [routerLink]="['/customers']">
            Customers
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            data-toggle="modal"
            [routerLink]="['/subscribers']"
          >
            Subscribers
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            data-toggle="modal"
            [routerLink]="['/payment-links']"
          >
            Payment Links
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
