<!-- Navigation ==================================================-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Toggler - Toggles button for dropdown menu on collapse-->
    <button
      class="navbar-toggler mr-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand mr-auto" href="#">
      Charge Chimp
    </a>

    <!-- Navbar -->
    <div id="navbar" class="collapse navbar-collapse mr-lg-auto">
      <ul class="navbar-nav mr-lg-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="modal" [routerLink]="['/payments']">
            Payments
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="modal" [routerLink]="['/customers']">
            Customers
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            data-toggle="modal"
            [routerLink]="['/subscribers']"
          >
            Subscribers
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="modal" [routerLink]="['/plans']">
            Plans
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
