<!-- TODO: Add Charge Chimp logo to top of auth pages -->

<app-header *ngIf="isLoggedIn"></app-header>
<div
  *ngIf="isStripeConnectAuthorized == false && isLoggedIn"
  class="container mt-3 text-center"
>
  <div class="alert alert-warning" role="alert">
    To finish verifying your account.
    <a
      [href]="
        'https://connect.stripe.com/oauth/authorize?scope=read_write&response_type=code&client_id=' +
        stripeConnectClientID
      "
      class="alert-link"
    >
      <b>Click here to set up your stripe account.</b>
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
