<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- FUTURE-UPDATE: add sort order, filters in table header for payment data-->
          <!-- FUTURE-UPDATE: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Customer
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              <u class="more-info" placement="top" ngbTooltip="Transaction ID"
                >TXN ID</u
              >
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Amount
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Status
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Date
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Type
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- FUTURE-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let paymentEl of payments">
          <td>
            <h5 class="mb-0">{{ paymentEl.customer.name }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ paymentEl.customer.email }}
            </p>
          </td>
          <td>{{ paymentEl.shortTxnID }}</td>
          <td>
            <h5 class="mb-0">{{ paymentEl.amount }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ paymentEl.productName }}
            </p>
          </td>
          <td>
            <h4 class="mb-0">
              <span
                class="badge badge-pill"
                [ngClass]="{
                  'badge-soft-primary': paymentEl.status === 'Succeeded',
                  'badge-soft-secondary': paymentEl.status === 'Refunded'
                }"
              >
                <b>{{ paymentEl.status }}</b>
              </span>
            </h4>
          </td>
          <td>
            <span>{{ paymentEl.created }}</span>
          </td>
          <td>
            <span>{{ paymentEl.transactionType }} </span>
          </td>

          <!-- //TODO: use a simple js alert -->
          <!-- FUTURE-UPDATE: add refund confirmation modal, if available for refund, "sure you want to refund?", if not available for refund => "sorry refund not available" -->

          <td class="text-right">
            <button
              *ngIf="paymentEl.isRefunded === false"
              type="button"
              (click)="onRefundAtRow(paymentEl.paymentIntent.paymentIntentID)"
              class="btn btn-outline-danger btn-sm"
            >
              Refund
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
