<div class="container">
  <div class="row justify-content-center vertical">
    <div class="col-12 col-md-5 col-xl-4 my-6">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Forgot password
      </h1>
      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Enter your email below to send reset instructions.
      </p>

      <div *ngIf="didSendResetInstructions; else enterEmailToSend">
        <!-- Success Card -->
        <div class="card mt-5">
          <div class="card-body">
            <div class="col-auto">
              <h2 class="card-title text-center">
                Reset instructions sent to your inbox!
              </h2>
              <p class="card-text my-3 text-muted text-center">
                If we found an account associated with that username, we've sent
                password reset instructions to the primary email address on the
                account.
              </p>
              <p class="card-text my-3 text-muted text-center">
                <a [routerLink]="['/login']"> Click here to login</a>.
              </p>
            </div>
          </div>
        </div>
      </div>

      <ng-template #enterEmailToSend>
        <!-- Enter Email Form -->
        <div>
          <form
            #forgotPasswordForm="ngForm"
            (ngSubmit)="onSubmit(forgotPasswordForm)"
          >
            <!-- Email address -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                id="email"
                name="email"
                ngModel
                class="form-control"
                placeholder="name@address.com"
                required
                email
                #email="ngModel"
              />
              <span
                class="help-block-invalid"
                *ngIf="!email.valid && email.touched"
              >
                Please enter a valid email.</span
              >
            </div>

            <div class="row justify-content-center">
              <div class="col-10">
                <button
                  class="btn btn-block btn-primary mb-3"
                  type="submit"
                  [disabled]="!forgotPasswordForm.valid"
                >
                  Send Reset Instructions
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- Link -->
      <div class="text-center">
        <small class="text-muted text-center">
          Don't have a Chimp Charge account yet?
          <a [routerLink]="['/signup']">Sign up</a>.
        </small>
      </div>
    </div>
  </div>
</div>
