<app-header></app-header>

<div class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h6 class="header-pretitle">
                  Overview
                </h6>

                <h1 class="header-title">
                  Settings
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12 align-items-center">
                <ul class="nav nav-tabs header-tabs">
                  <li class="nav-item">
                    <a
                      class="nav-link text-center"
                      routerLinkActive="active"
                      [routerLink]="['/settings/account']"
                    >
                      Account
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-center"
                      routerLinkActive="active"
                      [routerLink]="['/settings/security']"
                    >
                      Security
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-center"
                      routerLinkActive="active"
                      [routerLink]="['/settings/billing']"
                    >
                      Billing
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-center"
                      routerLinkActive="active"
                      [routerLink]="['/settings/payouts']"
                    >
                      Payouts
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
