<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- FUTURE-UPDATE: add sort order, filters in table header for payment data-->
          <!-- FUTURE-UPDATE: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Name
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Total Payments
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Created
            </h5>
          </th>
          <!-- FUTURE-UPDATE: <th colspan="2">
            <h5 class="text-muted mb-0">
              Latest Transaction
            </h5>
          </th> -->
        </tr>
      </thead>
      <tbody class="list">
        <!-- FUTURE-UPDATE: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let customerEl of customers">
          <td>
            <h5 class="mb-0">{{ customerEl.customerName }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ customerEl.customerEmail }}
            </p>
          </td>
          <td>
            <h5 class="mb-0">{{ customerEl.totalPayments }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ customerEl.totalTransactions }} payments
              <!-- FUTURE-UPDATE: Should be singular '1 payment', plural '2 payments' -->
            </p>
          </td>
          <td>{{ customerEl.createdDate }}</td>
          <!--FUTURE-UPDATE <td>{{ customerEl.recentTransaction }}</td> -->
          <td class="text-right">
            <!-- Only show badge if subscriber -->
            <ng-container *ngIf="customerEl.isSubscriber">
              <h4 class="mb-0">
                <span class="badge badge-soft-primary">
                  <b>Subscriber</b>
                </span>
              </h4>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
