<div class="card">
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <!-- LATER: add sort order, filters in table header for payment data-->
          <!-- LATER: add pagination to not show all results in 1 page, order by pages -->
          <th>
            <h5 class="text-muted mb-0">
              Name
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0">
              Total Payments
            </h5>
          </th>
          <th>
            <h5 class="text-muted mb-0 text-center">
              Active Subs
            </h5>
          </th>
          <th colspan="2">
            <h5 class="text-muted mb-0">
              Created
            </h5>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <!-- LATER: Make table rows fully tappable, or just allow txn id to be a tappable link, then leads to more in-depth information about the payment -->
        <tr *ngFor="let customerEl of customers">
          <td>
            <h5 class="mb-0">{{ customerEl.customer.name }}</h5>
            <p class="card-text small text-muted mb-0">
              {{ customerEl.customer.email }}
            </p>
          </td>
          <!-- LATER: total payments  -->
          <td>
            <h5 class="mb-0">{{ customerEl.successfulAmount }}</h5>
            <p class="card-text small text-muted mb-0">
              {{
                (customerEl.transactions &&
                  customerEl.transactions.successfulCount) ||
                  0
              }}
              payments
            </p>
          </td>
          <td class="text-center">
            <h4>
              <span
                class="badge badge-pill"
                [ngClass]="{
                  ' badge-light': customerEl.activeSubscriptionsCount > 0,
                  'badge-soft-light': customerEl.activeSubscriptionsCount === 0
                }"
              >
                <b>{{ customerEl.activeSubscriptionsCount }}</b>
              </span>
            </h4>
          </td>
          <td>
            <span>{{ customerEl.created }}</span>
          </td>

          <!-- Only show badge if subscriber -->
          <td class="text-right">
            <ng-container *ngIf="customerEl.isSubscriber">
              <h4 class="mb-0">
                <span class="badge badge-pill badge-soft-primary">
                  <b>Subscriber</b>
                </span>
              </h4>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
