<app-header
  *ngIf="isLoggedIn && !isCheckoutSession && !isStripeOAuthConnecting"
></app-header>

<div
  *ngIf="
    isStripeConnectAuthorized == false &&
    isLoggedIn &&
    !isCheckoutSession &&
    !isStripeOAuthConnecting
  "
  class="container mt-3 text-center"
>
  <div class="alert alert-warning" role="alert">
    To finish verifying your account:
    <a class="alert-link" [routerLink]="" (click)="openStripeOAuthFlow()">
      <b>Click here to set up your stripe account.</b>
    </a>
  </div>
</div>
