<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mt-8">
        <div class="card-body">
          <div class="col-auto">
            <div class="text-center">
              <!-- Preheading -->
              <h6 class="text-uppercase text-muted mt-3">
                Transaction Complete
              </h6>

              <!-- Heading -->
              <h1 class="display-4 my-3">
                Payment Succeeded 😀
              </h1>

              <!-- Subheading -->
              <p class="text-muted">
                We'll send a receipt to your email.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <span class="fe fe-lock text-muted"></span>
        &nbsp;
        <span class="small text-muted">
          Secured by <a href="http://www.chimpcharge.com">Chimp Charge</a>
        </span>
      </div>
    </div>
  </div>
</div>
