/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$invalidColor: red;

button.destructive {
  color: $invalidColor;
}

u.more-info {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid $invalidColor;
}

.help-block-invalid {
  font-size: small;
  color: $invalidColor;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
