<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h1 class="header-title">
                  Subscriptions
                </h1>
              </div>
            </div>
          </div>
        </div>

        <!-- List -->
        <app-subscription-list></app-subscription-list>
      </div>
    </div>
  </div>
</div>
