<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h1 class="header-title">
                  Payments
                </h1>
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-outline-primary">
                  <!-- TODO: take the payouts settings page -->
                  View Payouts
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- FUTURE-UPDATE: Add Chart Graph: -->

        <app-stats></app-stats>
        <app-payment-list></app-payment-list>
      </div>
    </div>
  </div>
</div>
