<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header -->
        <div class="header">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">
                <h1 class="header-title">
                  Payments
                </h1>
              </div>
              <div class="col-auto">
                <button
                  class="btn btn-outline-primary"
                  (click)="onViewPayouts()"
                >
                  View Payouts
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- LATER: Add Chart Graph: -->

        <!-- // FIX: permissions error on stats -->
        <app-stats></app-stats>
        <app-transaction-list></app-transaction-list>
      </div>
    </div>
  </div>
</div>
